@page "/"

@inject NavigationManager navManager

<button @onclick="@(() => navManager.NavigateTo("people/hello"))">
        Navigate to people filter 1
</button>

<br />  

<button @onclick="@(()=> navManager.NavigateTo("/people/1"))">
    Navigate to people filter 2
</button>